redis
addict
matplotlib
onnxruntime
pycocotools
requests==2.25.1
PyYAML
setuptools
supervision
termcolor
timm
transformers==4.28.1
accelerate==0.20.3
yapf
nltk
grpc_interceptor==0.15.3
py-grpc-prometheus==0.7.0
invisible-watermark